<nav>
  <a href="/">Home</a>
  <a href="/comments">Comments</a>
  <a href="/comment/new">New Comment</a>

  {{#if user}}
    <a href="/profile">Profile</a>
    <span>Logged in as {{user.display_name}}</span>
    <form action="/logout" method="POST" style="display:inline;">
      <button type="submit">Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  {{/if}}
</nav>
<hr>
